# Core ignores
vendor/
node_modules/

# Laravel ignores
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel public & key storage
public/hot/
public/storage/
storage/*.key

# System/IDE ignores
.idea/
.vscode/
.DS_Store
*.pdf